/************************
* 初期設定
************************/
body {
  font-family: "Yu Gothic", "Yu Gothic Medium", "游ゴシック Medium", YuGothic,
    "游ゴシック体", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN",
    "メイリオ", Meiryo, "ＭＳ Ｐゴシック", sans-serif;
  font-weight: 500;
  letter-spacing: 0.04em;
  -webkit-font-smoothing: antialiased;
  word-break: break-word;
  box-sizing: border-box;
}
a {
  display: block;
  text-decoration: none;
}
img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
}
