/* ===========================
 .philosophy
=========================== */
.philosophy {
  display: flex;
  height: 680px;
  background-color: #242424;

  @include mq("max", "md") {
    flex-direction: column;
  }

  /*
   .philosophy_left / .philosophy_right
  =========================== */
  &__left,
  &__right {
    width: 50%;

    @include mq("max", "md") {
      width: 100%;
    }
  }

  &__right {
    background: url(../img/philosophy_bg.jpg) center/cover no-repeat;

    @include mq("max", "md") {
      height: 230px;
    }
  }

  &__left {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 10px;

    @include mq("max", "md") {
      padding: 0 20px;
      width: 100%;
      height: 450px;
    }

    &-top,
    &-bottom {
      line-height: 1.6;
    }
    &-title {
      color: #fff;
      font-size: 24px;

      @include mq("max", "md") {
        text-align: center;
        font-size: 16px;
      }
    }

    &-top {
      margin-top: 40px;
      color: #fff;

      @include mq("max", "md") {
        font-size: 12px;
        line-height: 1.8;
      }
    }

    &-bottom {
      margin-top: 20px;
      color: #fff;

      @include mq("max", "md") {
        font-size: 12px;
        line-height: 1.8;
      }
    }
  }

  /*
   .philosophy_button
  =========================== */
  &__button {
    margin-top: 50px;
    border: 1px solid #fff;
    width: 180px;

    @include mq("max", "md") {
      width: 100%;
    }

    a {
      text-align: center;
      padding: 16px 0;
      font-size: 14px;
      color: #fff;

      &:hover {
        color: #242424;
        background: #fff;
      }
    }
  }
}
