/* マップ $map:(key: value)  各幅の値を登録しておく */
$breakpoints: (
  "sm": 340,
  "md": 480,
  "lg": 980
) !default; /*変数定義前に自動で値を代入させるため*/

/* @mixin = 引数によってスタイルの設定を細かく指示 */
@mixin mq($mq, $bp1: lg, $bp2: lg) {
  $w1: map-get($breakpoints, $bp1);
  $w2: map-get(
    $breakpoints,
    $bp2
  ); /* $breakpoints = マップ、から値を取得(map関数) */
  $min1: "min-width: #{($w1+1)}px"; /* xxx-width: と1px調整 */
  $max1: "max-width: #{($w1)}px";
  $min2: "min-width: #{($w1+1)}px";
  $max2: "max-width: #{($w2)}px";

  @if $mq == min {
    @media screen and ($min1) {
      @content; /* @includeしたとき「プロパティ:値」をココに挿入させる */
    }
  } @else if $mq == max {
    @media screen and ($max1) {
      @content;
    }
  } @else if $mq == min-max {
    @media screen and ($min2) and ($max2) {
      @content;
    }
  }
}
