/* ===========================
 .vision
=========================== */
.vision {
  position: relative;

  @include mq("max", "md") {
    margin-top: 50px;
  }

  /*
   .vision__image
  =========================== */
  &__image {
    border-top: 60px solid $mainColor;
    height: 600px;
    background: $mainColor url("../images/bg_contents.") no-repeat center center /
      cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    /*背景画像に黒いカバーをかける方法*/
    &::before {
      height: 600px;
      background-color: rgba(0, 0, 0, 0.6);
      position: absolute;
      top: 60px;
      right: 0;
      bottom: 0;
      left: 0;
      content: " ";
    }

    h1 {
      font: bold 31px/2.3em sans-serif;
      text-align: center;
      color: #fff;
      z-index: 99;

      @include mq("max", "md") {
        font: bold 1.6em/1.9em sans-serif;
      }
    }

    p {
      margin-top: 75px;
      z-index: 99;
    }
  }

  /*
   .vision__column
  =========================== */
  &__column {
    width: 1200px;
    margin: 80px auto 150px;
    display: flex;
    justify-content: space-between;

    @include mq("max", "md") {
      width: 90%;
      margin: 10px auto;
      display: block;
    }

    @include mq("max", "lg") {
      width: 97%;
    }

    &--item {
      width: 30%;
      text-align: left;

      @include mq("max", "md") {
        width: 90%;
        margin-top: 40px;
        text-align: left;
      }

      &-img {
        margin: 0 0 50px;
        text-align: center;

        @include mq("max", "md") {
          margin: 0 0 10px;
          text-align: center;
        }

        img {
          height: 200px;
        }
      }
    }
  }
}
